body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
  height: 60px; /* Ger plats för den fasta navigationsbaren */
}

main {
  padding: 2em 1em;
  margin-top: 60px; /* Gör plats för den fasta navigationsbaren */
}

footer {
  background-color: #0291b5;
  color: white;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
