.home-Container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1,
h2 {
  text-align: center;
  font-family: "Jaini", system-ui;
  color: white;
}
p {
  text-align: center;
  color: white;
}
.box {
  width: calc(30% - 20px);
  height: 170px;
  margin: 10px;
  padding: 10px;
  border: 3px solid #11395e00;
  border-radius: 20px;
  display: inline-block;
  color: white;
  vertical-align: top;
  box-sizing: border-box;
  background-color: rgba(27, 59, 26, 0.66);
  font-family: "MedievalSharp", cursive, bold;
  text-align: center;
}

.box:hover {
  background-color: #074316;
  color: #ffffff;
  cursor: pointer;
}
