/* Navigation.css */

nav {
  background-color: #0291b5;
  padding: 1em;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Håll navigationsbaren över andra element */
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-right: 50px;
  padding: 0;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  text-decoration: none;
}

nav ul li button {
  background-color: #066886;
  color: white;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

nav ul li button:hover {
  background-color: #12213f;
}

nav ul li .active button {
  background-color: #11395e;
}
