.level-Container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  text-align: center;
}

.box {
  width: calc(30% - 20px);
  height: 100px;
  margin: 20px;
  padding: 20px;
  border: 3px solid #11395e;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  background-color: #0291b5;
}

.register-container {
  display: flex;
  justify-content: row;
  align-items: center;
}
